@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500;600;700;800;900&family=Quicksand:wght@300;400;500;600;700&display=swap');

:root{
    --Playfair: 'Playfair Display', serif;
    --Quicksand: 'Quicksand', sans-serif;
    --Roboto: 'Roboto', sans-serif;
    --dark: #3c393d;
    --exDark: #2b2b2b;
}
*{
    padding: 0;
    margin: 0;
    font-family: var(--Quicksand);
}
body{
    line-height: 1.4;
    color: var(--dark);
}
img{
    width: 100%;
    display: block;
}
.container{
    max-width: 1320px;
    margin: 0 auto;
    padding: 0 1.2rem;
}

/* header */
header{
    min-height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(/IMG/Design.jpg) center/cover no-repeat fixed;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
}
.navbar{
    background: rgba(0, 0, 0, 0.6);
    padding: 1.2rem;
    position: fixed;
    width: 100%;
    z-index: 100;
}
.navbar-nav ul li{
    list-style: none;
    display: inline-block;
    margin: 0 30px;
    position: relative;
}
.navbar-nav ul li a{
    text-decoration: none;
    color: #d8b7ba;
    text-transform: uppercase;
}
.navbar-nav ul li::after{
    content: '';
    height: 3px;
    width: 0;
    background: #d8b7ba;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
}
.navbar-nav ul li:hover::after{
    width: 100%;
}
.navbar-brand{
    color: #d8b7ba;
    font-size: 2.5rem;
    display: block;
    text-align: center;
    text-decoration: none;
    font-family: var(--Playfair);
    letter-spacing: 1px;
}
.navbar-nav{
    padding: 0.8rem 0 0.2rem 0;
    text-align: center;
}

.banner{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #d8b7ba;
}
.banner-title{
    font-size: 6rem;
    font-family: var(--Playfair);
    line-height: 1.2;
}
.banner-title span{
    font-family: var(--Playfair);
    color: var(--exDark);
}
.banner p{
    padding: 1rem 0 2rem 0;
    font-size: 1.2rem;
    text-transform: capitalize;
    font-family: var(--Roboto);
    font-weight: 300;
    word-spacing: 2px;
}
.banner form{
    background: #fff;
    border-radius: 2rem;
    padding: 0.6rem 1rem;
    display: flex;
    justify-content: space-between;
}
.search-input{
    font-family: var(--Roboto);
    font-size: 1.1rem;
    width: 100%;
    outline: 0;
    padding: 0.6rem 0;
    border: none;
}
.search-input::placeholder{
    text-transform: capitalize;
}
.search-btn{
    width: 40px;
    font-size: 1.1rem;
    color: var(--dark);
    border: none;
    background: transparent;
    outline: 0;
    cursor: pointer;
}


/* Design - wireframes */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container h2{
    font-size: 40px;
    font-family:var(--Playfair);
    font-weight: normal;
    padding: 15px;
    color:#2b2b2b;
    text-align: center;
    text-transform: capitalize;

}
.container .image-container{
display:flex;
flex-wrap: wrap;
gap: 15px;
justify-content: center;
padding: 10px;
}

.container .image-container .image{
    height:250px;
    width:350px;
    border:10px solid #d8b7ba;
    box-shadow: 0 5px 15px rgba(0,0,0,.1);
    overflow:hidden;
    cursor:pointer;
}

.container .image-container .image img{
    height:250px;
    width:350px;
    object-fit: cover;
    transition: .2s linear;
}

.container .image-container .image:hover img{
    transform: scale(1.1);
}

.container .popup-image{
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0,0,0,.1);
    height: 100%;
    width: 100%;
    z-index: 100;
    display: none;
}

.container .popup-image span{
    position: absolute;
    top:0;
    right:10px;
    font-size:60px;
    font-weight: bolder;
    color:#fff;
    cursor: pointer;
    z-index: 100;
}

.container .popup-image img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 5px solid #fff;
    border-radius: 15px;
    width: 750px;
    object-fit: cover;
}

.container1 {
    background-color: #f2f2f2;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin-bottom: px;
  }
  
  .container1 h2 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .container1 p {
    font-size: 20px;
  }



@media (max-width: 768px){
    .container .popup-image img{
        width:95%;
    }
}
