@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500;600;700;800;900&family=Quicksand:wght@300;400;500;600;700&display=swap');

:root{
    --Playfair: 'Playfair Display', serif;
    --Quicksand: 'Quicksand', sans-serif;
    --Roboto: 'Roboto', sans-serif;
    --dark: #3c393d;
    --exDark: #2b2b2b;
}
*{
    padding: 0;
    margin: 0;
    font-family: var(--Quicksand);
}
body{
    line-height: 1.4;
    color: var(--dark);
}
img{
    width: 100%;
    display: block;
}
.container{
    max-width: 1320px;
    margin: 0 auto;
    padding: 0 1.2rem;
}

/* header */
header{
    min-height: 70vh;
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(/IMG/BlogCovers.jpg) center/cover no-repeat fixed;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
}
.navbar{
    background: rgba(0, 0, 0, 0.6);
    padding: 1.2rem;
    position: fixed;
    width: 100%;
    z-index: 999;
}
.navbar-nav ul li{
    list-style: none;
    display: inline-block;
    margin: 0 30px;
    position: relative;
}
.navbar-nav ul li a{
    text-decoration: none;
    color: #d8b7ba;
    text-transform: uppercase;
}
.navbar-nav ul li::after{
    content: '';
    height: 3px;
    width: 0;
    background: #d8b7ba;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
}
.navbar-nav ul li:hover::after{
    width: 100%;
}
.navbar-brand{
    color: #d8b7ba;
    font-size: 2.5rem;
    display: block;
    text-align: absolute;
    text-decoration: none;
    font-family: var(--Playfair);
    letter-spacing: 1px;
}
.navbar-nav{
    padding: 0.8rem 0 0.2rem 0;
    text-align: center;
}

.banner{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: absolute;
    text-align: absolute;
    color: #d8b7ba;
}
.banner-title{
    font-size: 6rem;
    font-family: var(--Playfair);
    line-height: 1.2;
}
.banner-title span{
    font-family: var(--Playfair);
    color: var(--exDark);
}
.banner p{
    padding: 1rem 0 2rem 0;
    font-size: 1.2rem;
    text-transform: capitalize;
    font-family: var(--Roboto);
    font-weight: 300;
    word-spacing: 2px;
}
.banner form{
    background: #fff;
    border-radius: 2rem;
    padding: 0.6rem 1rem;
    display: flex;
    justify-content: space-between;
}

.dropdownmenu ul, .dropdownmenu li{
    margin: 0;
    padding: 0;
}

.dropdownmenu ul{
    background: gray;
    list-style: none;
    width: 100%;
}

.dropdownmenu li{
    float: right;
    position: relative;
    width: auto;
}

.dropdownmenu a{
    background: #d8b7ba;
    color:#fff;
    display: inline-block;
    font-weight: bold;
    font-size: 13px;
    font-family:var(--Playfair);
    padding: 15px 55px;
    text-align: center;
    text-decoration: none;
    transition: all 0.25s ease;
}

.dropdownmenu li:hover a{
    background: #3c393d;
}

#submenu{
    left: 0;
    opacity: 0;
    position: absolute;
    top: 35px;
    visibility: hidden;
    z-index: 1;
}

li:hover ul#submenu{
    opacity: 1;
    top: 55px;
    visibility: visible;
}

#submenu li{
    float: none;
    width: 100%;
}

#submenu a:hover{
    background: transparent;
}

#submenu a{
    background-color: transparent;
}

.container1 {
    background-color: #f2f2f2;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin: 40px auto;
    max-width: 1200px;
    margin-bottom: 40px;
  }
  
  .container1 h2 {
    font-size: 40px;
    font-family:var(--Playfair);
    font-weight: normal;
    padding: 15px;
    color:#2b2b2b;
    text-align: center;
    text-transform: capitalize;
    margin-bottom: 10px;
  }
  
  .container1 p {
    font-size: 20px;
    text-align: absolute;
    margin-bottom: 2em;
  }